        /* Basic Setup  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color: #fff;
    color: #555;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}

h1, h2, h3, .nav-menu {
    font-family: 'Inknut Antiqua', serif;
    
}


.orange-color {
    color: orange;
}

          /* Navigation Setup */


.nav-menu {
    list-style: none;
    margin-top: 40px;
    text-align: center;
    
}

.nav-menu li {
    display: inline-block;
    margin-left: 40px;
}

.nav-menu li a {
    padding: 8px 0;
    color: #000;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
  
           /* Top Banner Section */

.flexible-container {
    display: flex;
    margin-bottom: 10px;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 80%;
}

.link-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    border-radius: 20px;
    margin-top: 60px;
}


       /* About Me Section */

.about-me {
    background-image: url(img/bg2.png);
    background-repeat: no-repeat; 
    background-size: 100%;
    width: auto;
    
}      

.jane-img {
    
    height: 75%; 
    
}

.right {
    margin-right: 10%;
}


.container {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.container p{
    width: 60%;
    margin-left: 20%;
}
                /* Recipies styles start here */

#my-recipies {
    font-size: 16px;
    margin-bottom: 25px;
}

.width-3 {
    width: 30%;
    padding:5px ;
    margin-left: 37px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;
}    

.width-3 img {
    width: 85%;
    margin-bottom: 5px;
    margin-left: 8%;
    margin-top: 7%;
}

.recipe-name {
    margin-left: 10%;
}



